.geral {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hj{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 8vh;
    margin-top: 1%;
}
.ama{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 8vh;
}
.wv {
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: -17%;
}
.ca{
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: -20px;
}
.wr{
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: 6%;
}
.ce{
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: -20px;
}
.av{
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: -20px;
}
.table{
    border:solid 1px rgb(29, 28, 28) ;
}
.footer{
    background-color: rgb(36, 34, 34);
} 