.geral {
    font-family: "Trebuchet MS" ;
}
.hj{
    font-family: "Trebuchet MS" ;
    text-align: center;
    font-weight: bold;
    font-size: 8vh;
    margin-top: 1%;
}
.ama{
    font-family: "Trebuchet MS" ;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 8vh;
}

.o {
    display: flex;
    
}

.wv {
    font-size: 3vh;
    font-family: "Trebuchet MS" ;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: -17%;
}
.ca{
    font-size: 3vh;
    font-family: "Trebuchet MS" ;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: -20px;
}
.wr{
    font-size: 3vh;
    font-family: "Trebuchet MS" ;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: 6%;
}
.ce{
    font-size: 3vh;
    font-family: "Trebuchet MS" ;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: -20px;
}
.av{
    font-size: 3vh;
    font-family: "Trebuchet MS" ;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 20%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 38%;
    margin-top: -20px;
}
.table{
    border:solid 1px rgb(29, 28, 28) ;
}
.footer{
    background-color: rgb(36, 34, 34);
} 