.all {
    height: 0vh; 
    box-sizing: border-box;
    place-items: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}
    
.allrounds {
    color: white;
    font-size: 10px;
}

.champion {
    position: relative;
    bottom: 3vh;
    left: 76%;
    max-width: 1vh;
}

.teamimg {
    position: relative;
    width: 20vh;
    top: -5vh;
    left: 77%;
}

.round1 {
    max-width: 20%;
    margin-top: 5vh;
    margin-left: 25.5%;
}

.round2 {
    max-width: 20%;
    margin-top: 18px;
    margin-left: 44.3%;
}

.final {
    position: relative  ;
    max-width: 15%;
    top: 65px;
    left: 63%;

}

.r1team1 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 21.8%;
    margin-top: -42vh;
}

.r1team2 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 21.8%;
    margin-top: -3vh;
}

.r1team3 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 21.8%;
    margin-top: 4vh;
}

.r1team4 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 21.8%;
    margin-top: -3vh;
}

.r1team5 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 21.8%;
    margin-top: 4vh;
}

.r1team6 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 21.8%;
    margin-top: -3vh;
}

.r1team7 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 21.8%;
    margin-top: 4vh;
}

.r1team8 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 21.8%;
    margin-top: -3vh;
}

.r2team1 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 41%;
    margin-top: -44vh;
}

.r2team2 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 41%;
    margin-top: -3vh;
}

.r2team3 {
    text-align: center;
    font-size: 3vh;margin-left: 21.8%;
    margin-top: -3vh;
    margin-left: 21.8%;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 41%;
    margin-top: 17vh;
}

.r2team4 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 41%;
    margin-top: -3vh;
}

.final1 {
    position: relative;
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 62%;
    margin-top: -24vh;
}

.final2 {
    position: relative;
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 62%;
    margin-top: -3vh;
}
.finalc {
    position: relative  ;
    top: -10px;
    right: 17px;
}

/* LINHAS */


.vertical1 {
    position: relative  ;
    position: relative;
    bottom: 81.1vh;
    left: 72vh;
    font-size: 10;
    max-width: 1vh;
}

.vertical2 {
    position: relative  ;
    position: relative;
    bottom: 81.4vh;
    left: 72vh;
    max-width: 1vh;
}

.vertical3 {
    position: relative  ;
    bottom: 64.6vh;
    left: 72vh;
    max-width: 1vh;
}

.vertical4 {
    position: relative  ;
    bottom: 82vh;
    left: 72vh;
    max-width: 1vh;
}

.vertical5 {
    position: relative  ;
    bottom: 112vh;
    left: 72vh;
    max-width: 1vh;
}

.vertical6 {
    position: relative  ;
    bottom: 95.5vh;
    left: 72vh;
    max-width: 1vh;
}

.vertical7 {
    position: relative  ;
    bottom: 128.1vh;
    left: 109.8vh;
    max-width: 1vh;
}

.vertical8 {
    position: relative  ;
    bottom: 115.1vh;
    left: 109.8vh;
    max-width: 1vh;
}

.vertical9 {
    position: relative  ;
    bottom: 128vh;
    left: 109.8vh;
    max-width: 1vh;
}

.vertical10 {
    position: relative  ;
    bottom: 141.2vh;
    left: 109.8vh;
    max-width: 1vh;
}

.vertical11 {
    position: relative  ;
    bottom: 154.5vh;
    left: 109.8vh;
    max-width: 1vh;
}

.vertical12 {
    position: relative  ;
    bottom: 167.7vh;
    left: 109.8vh;
    max-width: 1vh;
}

.horizontal1 {
    position: relative  ;
    bottom: 30.2vh;
    left: 68vh;
    max-width: 1vh;
}

.horizontal2 {
    position: relative  ;
    bottom: 26.3vh;
    left: 68vh;
    max-width: 1vh;
}

.horizontal3 {
    position: relative  ;
    bottom: 22.3vh;
    left: 68vh;
    max-width: 1vh;
}

.horizontal4 {
    position: relative  ;
    bottom: 18.4vh;
    left: 68vh;
    max-width: 1vh;
}

.horizontal5 {
    position: relative  ;
    bottom: 59.6vh;
    left: 72.8vh;
    max-width: 1vh;
}

.horizontal6 {
    position: relative  ;
    bottom: 42.7vh;
    left: 72.9vh;
    max-width: 1vh;
}

.horizontal7 {
    position: relative  ;
    bottom: 157vh;
    left: 105.5vh;
    max-width: 1vh;
}

.horizontal8 {
    position: relative  ;
    bottom: 191.7vh;
    left: 105.5vh;
    max-width: 1vh; 
}

.horizontal9 {
    position: relative  ;
    bottom: 188.5vh;
    left: 110.6vh;
    max-width: 1vh;
}