.all {
    box-sizing: border-box;
    place-items: center;
    font-family: 'Arial Narrow Bold', sans-serif; 
}

.allrounds {
    color: white;
    font-size: 10px;
}

.champion {
    position: relative;
    bottom: 3vh;
    left: 76%;
    max-width: 20%;
}

.teamimg {
    position: relative;
    width: 20vh;
    top: -5vh;
    left: 77%;
}

.round1 {
    position: relative;
    max-width: 20%;
    top: 15px;
    left: 16%;
}

.round2 {
    position: relative;
    max-width: 20%;
    top: 28px;
    left: 40%;
}

.final {
    position: relative;
    max-width: 15%;
    top: 80px;
    left: 59%;
}

.r1team1 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 13%;
    margin-top: -42vh;
}

.r1team2 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 13%;
    margin-top: -3vh;
}

.r1team3 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 13%;
    margin-top: 4vh;
}

.r1team4 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 13%;
    margin-top: -3vh;
}

.r1team5 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 13%;
    margin-top: 4vh;
}

.r1team6 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 13%;
    margin-top: -3vh;
}

.r1team7 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 13%;
    margin-top: 4vh;
}

.r1team8 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 13%;
    margin-top: -3vh;
}

.r2team1 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 37.5%;
    margin-top: -44vh;
}

.r2team2 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 37.5%;
    margin-top: -3vh;
}

.r2team3 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 37.5%;
    margin-top: 17vh;
}

.r2team4 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 37.5%;
    margin-top: -3vh;
}

.final1 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 58%;
    margin-top: -24vh;
}

.final2 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    border-radius: 5px;
    width: 11%;
    height: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 58%;
    margin-top: -3vh;
}

/* LINHAS */


.vertical1 {
    position: relative;
    bottom: 82.1vh;
    left: 64.8vh;
    font-size: 10;
   
}

.vertical2 {
    position: relative;
    bottom: 82.5vh;
    left: 64.8vh;
}

.vertical3 {
    position: relative;
    bottom: 82vh;
    left: 64.8vh;
}

.vertical4 {
    position: relative;
    bottom: 82vh;
    left: 64.8vh;
}

.horizontal1 {
    position: relative;
    bottom: 30.2vh;
    left: 50.9vh;
    
}

.horizontal2 {
    position: relative;
    bottom: 26.3vh;
    left: 50.9vh;
}

.horizontal3 {
    position: relative;
    bottom: 22.3vh;
    left: 50.9vh;
}

.horizontal4 {
    position: relative;
    bottom: 18.4vh;
    left: 50.9vh;
}

.horizontal5 {
    position: relative;
    bottom: 59.6vh;
    left: 99vh;
}

.horizontal6 {
    position: relative;
    bottom: 45vh;
    left: 99vh;
}