.all {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

    .footer { 
    background-color: rgb(54, 53, 53);
    border-top:2px solid rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 18%;

    bottom: 0%;
    top: 135%;
    color: white;
    font-size: 25px;

   }
   .follow {

    font-weight: bold;  
    padding-left: 50%;
   }

   .contact {
    font-weight: bold;  
    position: absolute;
    top: 0%;
    right: 10%; 
 
   }
   .number {
    font-size: 20px;
    position: absolute;
    top: 40%;
    right: 6%; 
   }
   .insta {
    width: 4%;
    position: absolute;
    top: 46%;
    right: 44%; 
   }
   .discord {
    width: 3.6%;
    position: absolute;
    top: 48%;
    right: 48%;
   }

   .eliti {
    position: absolute;
    max-height: 100%;
    max-width: 169px;
    margin-top: -6.1%;
    margin-left: 10px;
   }
   .whats {
    position: absolute;
   width: 5.8%;
    top: 49%;
    right: 39.3%;
   }