        .geral {
          height: 100%;
      
        }

        .logo {
          color: #fafafa;
          background-color: rgb(14, 14, 14);
          text-align: center;
          margin-top: 2%;
        }

        .topnav {
          overflow: hidden;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-weight: bold
        }
        
        .topnav a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 20px;
          margin: 1%;
          margin-left: 9%;
          
        }
        
        .topnav a:hover {
          background-color: rgb(20, 22, 22);
          border-radius: 10px;
          
        }
        .games {
          border-top: solid 1px black;
        }

        .lol {
          margin-left: 15%;
          margin-top: 2%;
          width: 29%;
          height: 34vh;
          cursor: pointer;
          border: solid 2px black ;
        }

        .cs {
          margin-left: 13%;
          margin-top: 3%;
          width: 30%;
          height: 34vh;
          cursor: pointer;
          border: solid 2px black ;
        }

        .vava {
          margin-left: 15%;
          width: 29vw;
          margin-top: 3%;
          cursor: pointer;
          border: solid 2px black ;
        }

        .ff {
          margin-left: 13%;
          width: 29vw;
          margin-top: 2%;
          cursor: pointer;
          border: solid 2px black ;
        }
        
