

.seta {
  font-size: 10vh;
  position: fixed;
  margin-left: 3%;
}

.logot {
    position: relative;
    top: 3vh;
    color: #fafafa;
    background-color:rgb(14, 14, 14) ;
    text-align: center;  
    
  }
  .topnavt {
    overflow: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold
  }
  
  .topnavt a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin: 1%;
    margin-left: 9%;
  }
  
  .topnavt a:hover {
    border-bottom: solid 1px #fafafa;
  }
  .teams {
    margin-top: -1%;
  }

  .esp {
    font-size: 5vh;
    font-weight: bold;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 65%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 15%;
  }

  .red{
    font-size: 5vh;
    font-weight: bold;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 65%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 15%;
    margin-top: -2.6%;

  }
  .wak {
    font-size: 5vh;
    font-weight: bold;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 65%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 15%;
    margin-top: -2.6%;
  }
  .vik {
    font-size: 5vh;
    font-weight: bold;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 65%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 15%;
    margin-top: -2.6%;
  }
  .amc {
    font-size: 5vh;
    font-weight: bold;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 65%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 15%;
    margin-top: -2.6%;
  }
  .cal {
    font-size: 5vh;
    font-weight: bold;
    background-color: rgb(112, 111, 111);
    border-bottom:solid 4px rgb(85, 84, 84);
    background-size: cover;
    width: 65%;
    padding: 1.1%;
    padding-right: 3%;
    margin-left: 15%;
    margin-top: -2.6%;
  }

  .espb {
    font-size: 3vh;
    padding: 1.1%;
    margin-left: 155vh;
    margin-top: -34.5%;
  }
  .redb {
    font-size: 3vh;
    padding: 1.1%;
    margin-left: 155vh;
    margin-top: 1.5%;
  }
  .wakb {
    font-size: 3vh;
    padding: 1.1%;
    margin-left: 155vh;
    margin-top: 1.5%;
  }
  .vikb {
    font-size: 3vh;
    padding: 1.1%;
    margin-left: 155vh;
    margin-top: 1.5%;
  }
  .amcb {
    font-size: 3vh;
    padding: 1.1%;
    margin-left: 155vh;
    margin-top: 1.5%;
  }
  .calb {
    font-size: 3vh;
    padding: 1.1%;
    margin-left: 155vh;
    margin-top: 1.5%;
  }